
body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100px; */
    flex-direction: column;
    background-color: brown;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    
    
}

 #container {
    width: 400px;
    height: 400px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;

    
}

#container > .square {
    display: flex;
    flex-wrap: wrap;
    border: none;
    aspect-ratio: 1 / 1;

}

#btn {
    display: flex;
    justify-content:  space-between;
    gap: 8px;
    padding: 12px;
}

.resetBtn {
    font: 32px;
    border-radius: 8px;
    padding: 8px;
}

.clearBtn {
    font: 20px;
    border-radius: 8px;
    padding: 8px;
}

#heading {
    font-size: 24px;
    font-style: italic;
}