body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100px; */
    flex-direction: column;
    background-color: brown;
    
    
}


#container {
    width: 435px;
    height: 435px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: antiquewhite;
    
}

#container > .square {
    border-collapse: collapse;
    border: 1.5px solid black;
    min-width: 25px;
    min-height: 25px;
    gap: 0;


}