body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100px; */
    flex-direction: column;
    background-color: brown;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    
    
}

 #container {
    /* width: 500px;
    height: 500px; */
    display: flex;
    flex-wrap: wrap;
    /* flex: 1;  */
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;

    
}

#container > .square {
    flex-wrap: wrap;
    /* border: none; */
    border: 1px solid black;
    /* min-width: 25px;
     min-height: 25px; */
    flex: 1, 1, auto;
    aspect-ratio: 1 / 1;
    
    


}

#btn {
    display: flex;
    justify-content:  space-between;
    gap: 8px;
    padding: 12px;
}

.resetBtn {
    font: 32px;
    border-radius: 8px;
    padding: 8px;
}

.clearBtn {
    font: 20px;
    border-radius: 8px;
    padding: 8px;
} */